

*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
__pycache__/
*.npy
*.so
.rendered
lightgcn-env
521
.idea/
*.DS_Store
*.ipynb_checkpoints
*.vscode
../.idea/

data/Epinions/
data/Movielens/model_state_dict_lgn.pth
data/Movielens/results_lgn.txt
data/Movielens/s_pre_adj_mat.npz
imgs/